.container {
  max-width: 1170px;
  margin: auto;
  width: 95%;
}

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  @for $i from 1 through 12 {
    & > .grid__col-#{$i} {
      grid-column: span #{$i};
      @media all and (max-width: 750px) {
        grid-column: span 12;
      }
    }
  }
}

.box {
  height: 55px;
  background-color: rosybrown;
}
